#article2 {
    width: 80%;
    height: 100%;
    margin: 10%;
    h2 {
        font-size: 2rem;
        color: $titulocolor;
    }

    p {
        font-size: 1rem;
        color: #454242;
    }

    li {
        font-size: 1rem;
        color: #454242;
    }
}
